In [11]:
student_names = ['Luis', 'Divya' 'Maria', 'Mimi']
student_names.append('Arnold')
print[student_names]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [34]:
student_names = ['Luis', 'Divya', 'Maria', 'Mimi']  # Added missing comma between 'Divya' and 'Maria'
student_names.append('Arnold')  # Fixed the closing quotation mark for 'Arnold'
print(student_names)

['Luis', 'Divya', 'Maria', 'Mimi', 'Arnold']

In [36]:
nums = (3, 8, -4, 22, 0)  # Define the tuple
total_sum = sum(nums)  # Use the sum function to get the total
print(total_sum)  # Output the result

29

In [38]:
nums = (3, 8, -4, 22, 0)  # Define the tuple

# Step 1: Calculate the sum of the elements
total_sum = sum(nums)
print("Sum of elements:", total_sum)

# Step 2: Create a new tuple with each element decremented by 1
nums_decremented = tuple(num - 1 for num in nums)
print("Decremented elements:", nums_decremented)

Sum of elements: 29
Decremented elements: (2, 7, -5, 21, -1)

In [40]:
ages = {
    'Ahmed': 21,
    'Faraz': 21,  # Fixed the syntax by adding missing quotes
    'Sarah': 41   # Fixed the syntax by adding missing quotes
}

# Correctly using the format method to print Faraz's age
print('Faraz is {} years old.'.format(ages['Faraz']))

Faraz is 21 years old.

In [42]:
ages = {
    'Ahmed': 21,
    'Faraz': 21,  # Initial age of Faraz
    'Sarah': 41
}

# Update Faraz's age to 24
ages['Faraz'] = 24

# Print the updated age using the format method
print('Faraz is {} years old.'.format(ages['Faraz']))

Faraz is 24 years old.

In [46]:
ages = {
    'Ahmed': 21,
    'Faraz': 21,  # Corrected the missing quote after 'Faraz'
    'Sarah': 41   # Corrected the missing quote after 'Sarah'
}

# Update Faraz's age to 24
ages['Faraz'] = 24

# Correctly use the format method to print Faraz's age
print('Faraz is {age} years old.'.format(ages['Faraz']))

KeyError: 'age'